<div class="flex ml-10">
  <div class="bg-gray-100 rounded-lg p-4 mt-4 w-3/5">
    <p class="mt-2">
      <strong>評分:</strong>
      <span class="text-yellow-500"><%= @comment.rating %></span>
    </p>
    <p class="mt-2">
      <strong>標題:</strong>
      <span class="text-purple-600"><%= @comment.title %></span>
    </p>
    <p class="mt-2">
      <strong>內容:</strong>
      <span class="text-gray-600"><%= @comment.content %></span>
    </p>
    <p class="mt-2 ">
      <strong>圖片:</strong>
      <%= image_tag @comment.image.url, class: 'mt-2 max-w-full h-auto' if @comment.image.url.present? %>
    </p>

    <div class="mt-2 max-w-4xl">
      <!-- Use Tailwind CSS grid and flex utilities for displaying multiple images -->
      <div class="flex w-full gap-2">
        <% @comment.images.each do |avatar| %>
          <div class="w-full max-w-md">
            <%= image_tag avatar.url, class: 'max-w-md object-cover object-center w-full h-full' if avatar.url.present? %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mt-4">
      <%= link_to 'Edit', edit_comment_path, class: 'text-blue-500 hover:text-blue-700 mr-2' %>
      <%= link_to 'Back', comments_path, class: 'text-blue-500 hover:text-blue-700' %>
    </div>
  </div>
</div>
