<%- if controller_name != 'sessions' %>
  <%= link_to "登入", new_session_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>
<%# Google login %>
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= form_for "log in",
      url: omniauth_authorize_path(resource_name, provider),
      method: :post,
      data: {turbo: "false"} do |f|%>
      <%= f.button :submit, class: "w-full btn-square btn-amber mb-2" do %>
        <% if provider == :google_oauth2 %>
          <div class="flex items-center justify-start">
            <%= image_tag("google", class: "inline-block h-8 w-8") %>
            <span class="m-auto">使用 Google 登入</span>
          </div>
        <% elsif provider == :line%>
          <div class="flex items-center justify-start">
            <%= image_tag("line", class: "inline-block h-8 w-8") %>
            <span class="m-auto">使用 Line 登入 </span>
          </div>
        <% elsif provider == :facebook%>
          <div class="flex items-center justify-start">
            <%= image_tag("facebook", class: "inline-block h-8 w-8") %>
            <span class="m-auto">使用 Facebook 登入</span>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>