<section class="flex items-center justify-center w-full h-screen">
  <div class="relative flex items-center justify-center bg-white rounded-lg shadow-lg form-box w-400 h-450 shadow-gary-500/50">
    <%= link_to image_tag("close", class: "absolute right-0 top-0 m-2 h-5 w-5"), root_path %>
    <div class="form-value">
        <div class="m-8 field ">
          <%= image_tag("logo", class: "w-10 h-10 mb-2") %>
          <span class="my-8 text-xl font-bold text-center">
             忘記密碼嗎？讓
             <span class="align-middle text-amber-500 cloitems-center inlink-block tracking-zero">Tour</span>
             <span class="items-center align-middle inlink-block text-sky-500 tracking-zero">Mind</span>
             協助你！
          </span>
        </div>
        
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <div class="relative m-2 field">
            <%= image_tag "email.png", class: "h-10 w-10 inline-block absolute right-0 z-2"%>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "請輸入信箱帳號...", class: "rounded-lg w-full inline-block"%>
          </div>

          <div class="m-2 field">
            <%= f.submit "向我發送重置密碼的指示", class: "btn-square btn-amber" %>
          </div>
        <% end %>
    </div>
  </div>
</section>