<ul class="flex py-4 border-b bg-white">
  <li class="px-4">
    <%= link_to '景點' , sites_path %>
  </li>
  <li class="px-4">
    <%= link_to '餐廳' , '#' %>
  </li>
  <li class="px-4">
    <%= link_to '新增行程' , '#' %>
  </li>
  <li class="px-4">
    <%= link_to '熱門行程' , '#' %>
  </li>
  <li class="px-4">
    <%= link_to '關於我們' , '#' %>
  </li>
  <li class="px-4">
    <%= link_to '聯絡我們' , '#' %>
  </li>
</ul>
