
<div class='md:static absolute bg-white md:min-h-fit min-h-[60vh] left-0 md:w-auto w-full items-center px-5'>
        <ul class='flex justify-center md:gap-4 md:py-4 '>
         <li class='navbar-li'>
                <%= link_to '飯店' , hotels_path %>
            </li>
            <li class='navbar-li'>
                <%= link_to '景點' , sites_path %>
            </li>
            <li class='navbar-li'>
                <%= link_to '餐廳' , '#' %>
            </li>
            <li class='navbar-li'>
                <%= link_to '新增行程' , '#' %>
            </li>
            <li class='navbar-li'>
                <%= link_to '熱門行程' , '#' %>
            </li>
            <li class='navbar-li'>
                <%= link_to '關於我們' , '#' %>
            </li>
            <li class='navbar-li'>
                <%= link_to '聯絡我們' , '#' %>
            </li>
        </ul>
    </div>