<nav class="flex items-center justify-between h-16 bg-white border-b sticky top-0" data-controller="navbar">
  <div class="flex items-center">
    <button class="px-2 md:hidden" data-action="click->navbar#toggleNavbarMenu">
      <i class="fa-solid fa-bars fa-xl"></i>
    </button>
    <%= image_tag("logo", class: "w-10 h-10 mb-2" ) %>
    <h1 class="font-medium heading-1">TourMind</h1>
  </div>
    <div class="flex items-center px-2">
    <ul data-navbar-target="navbarMenu" class="navbar-menu hidden md:flex">
      <li class="px-5 py-2 md:px-2"><i class="fa-solid fa-pencil w-4 mr-2"></i>
        <%= link_to "評論" , "#" %>
      </li>
      <li class="px-5 py-2 md:px-2"><i class="fa-solid fa-location-dot w-4 mr-2"></i>
        <%= link_to "旅程" , "#" %>
      </li>
      <li class="px-5 py-2 md:px-2"><i class="fa-solid fa-right-to-bracket w-4 mr-2"></i>
        <%= link_to "登入" , "#" %>
      </li>
      <li class="px-5 py-2 md:px-2"><i class="fa-solid fa-crown w-4 mr-2"></i>
        <%= link_to "升級會員" , "#" %>
      </li>
    </ul>
    <i class="rounded-full ring ring-primary ring-offset-base-100">
      <%= image_tag("user_default_avatar.png" , class:"w-10 rounded-full truncate") %>
    </i>
  </div>
</nav>
