<nav class="flex items-center justify-between h-16 bg-white border-b sticky top-0" data-controller="navbar">
  <div class="flex items-center">
    <button data-action="click->navbar#toggleNavbarMenu">
      <i class="px-2 cursor-pointer fa-solid fa-bars fa-xl md:hidden"></i>
    </button>
    <i class="px-2 fa-solid fa-heart-pulse fa-xl"></i>
    <h1 class="font-medium heading-1">TourMind</h1>
    <section data-navbar-target="navbarMenu" class="hidden lg:block absolute left-0 top-0 lg:static lg:w-72 w-full h-max bg-red px-6 mr-3 bd shadow-lg rounded-md">
      <div class="lg:hidden flex justify-end pt-6">
      </div>
    </div>
  </section>
  <div class="flex items-center px-2">
    <ul class="md:flex md:flex-row md:items-center hidden">
      <li class="px-2"><i class="fa-solid fa-pencil"></i>
        <%= link_to '評論' , '#' %>
      </li>
      <li class="px-2"><i class="fa-solid fa-location-dot"></i>
        <%= link_to '旅程' , '#' %>
      </li>
      <li class="px-2"><i class="fa-solid fa-right-to-bracket"></i>
        <%= link_to '登入' , '#' %>
      </li>
      <li class="px-2"><i class="fa-solid fa-crown"></i>
        <%= link_to '升級Premium會員' , '#' %>
      </li>
    </ul>
    <i class="rounded-full ring ring-primary ring-offset-base-100">
      <%= image_tag("img-head.png" , class:"w-10 rounded-full truncate") %>
    </i>
  </div>
</nav>
