<nav class="flex justify-between shadow-sm py-6 md:px-8 px-4">
  <%= link_to 'LOGO', root_path %>

  <ul class="flex text-green-300">
   

    <li class="mx-2"><%= link_to '評論', sceneries_path %></li>
    <li class="mx-2"><%= link_to '旅遊', sceneries_path %></li>
    <li class="mx-2"><%= link_to '登入', sceneries_path %></li>
    <li class="mx-2"><%= link_to '購物車', sceneries_path %></li>
  </ul>
</nav> 