
  <div class=" rounded overflow-hidden shadow-lg relative">
    <div>
      <%= link_to 'X', restaurant_path(restaurant), method: :delete, class: "rounded-lg py-1 px-3 bg-gray-200 inline-block font-medium ms-auto absolute top-1 start-1", data: {confirm: "Are you sure?"}%>
    </div>
    <div class="aspect-[5/3]">
      <%= link_to restaurant do %>
        <img class="h-full w-full" src=<%=restaurant.image%> alt="restaurant iamge">
      <% end %>
    </div>
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2"><%=restaurant.name%></div>
      <span>OOOOO(評分)</span>
      <span>評價數量(都從Comment拿)</span>
    </div>
    <div class="px-6 pt-4 pb-2 flex justify-between">
      <div>
        <% restaurant.cuisine_types.each do |cuisine_type| %>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 "><%=cuisine_type%></span>
        <% end %>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">平均價位: <%=restaurant.price.to_i%></span>
      </div>
    </div>
  </div>

