<div class="mx-auto md:w-2/3 w-full flex bg-slate-200">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <Section class = "p-3">
      <h1 class="font-bold text-4xl"><%=@restaurant.name%></h1>
      <div class="flex">
        <span class="mr-2">OOOOO(評分)</span>
        <span class="mr-2">XX則評論(comment)</span>
        <span class="mr-2">$<%=@restaurant.price.to_i%></span>
        <span class="mr-2"><%=@restaurant.cuisine_types%></span>
      </div>
    </Section>

    <section>
        <%= image_tag @restaurant.image.url, class: 'mt-2 max-w-full h-auto' if @restaurant.image.url.present? %>
    </section>

    <section class="min-w-full grid grid-cols-3 gap-4 flex my-5">
      <div class="border p-4 bg-white">
        <h2 class="font-bold text-2xl py-3">評等和評論</h2>
        <hr class="h-px my-8 bg-gray-200">
        <h3 class="text-lg ">評等</h3>
        <div class="flex justify-between">
          <h4 class="text-base ">食物</h4>
          <span>OOOOO</span>
        </div>
        <div class="flex justify-between">
          <h4 class="text-base ">服務</h4>
          <span>OOOOO</span>
        </div>
        <div class="flex justify-between">
          <h4 class="text-base ">實務</h4>
          <span>OOOOO</span>
        </div>
        <div class="flex justify-between">
          <h4 class="text-base ">氣氛</h4>
          <span>OOOOO</span>
        </div>

      </div>
      <div class="border p-4 bg-white">
        <h2 class="font-bold text-2xl py-3">詳細資料</h2>
        <h3 class="text-lg ">價位</h3>
        <p><%=@restaurant.price%></p>
        <h3 class="text-lg mt-3">菜系</h3>
        <p><%=@restaurant.cuisine_types%></p>
      </div>
      <div class="border p-4 bg-white">
        <h2 class="font-bold text-2xl py-3">位置和聯絡方式</h2>
        <h3 class="text-lg ">地址</h3>
        <p><%=@restaurant.address%></p>
        <h3 class="text-lg mt-3">網站</h3>
        <p><%=@restaurant.website%></p>
        <h3 class="text-lg mt-3">電話</h3>
        <p><%=@restaurant.tel%></p>
        
      </div>
    </section>
    <%= link_to "發表評論", comments_path %>
    <%= link_to '編輯餐廳資訊', edit_restaurant_path(@restaurant), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to '返回餐廳列表', restaurants_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>

