<div class="mx-auto w-full bg-slate-200">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <Section class = "p-3">
      <%= render "heading", restaurant:@restaurant%>
    </Section>

    <section class = "justify-center flex px-4 grid grid-cols-3 gap-4">
      <div class = "col-span-2 aspect-[5/3]">
        <img class="w-full h-full" src=<%=@restaurant.image%> alt="restaurant iamge">
      </div>
      <%= render "location", restaurant:@restaurant%>
    </section>

    <section class="min-w-full grid grid-cols-3 gap-4 flex my-5 px-4">
      
      <div class="border p-4 bg-white col-span-2">
        <%= render "description", restaurant:@restaurant%>
      </div>

      <div class="border p-4 bg-white col-span-1">
        <div>
          <%= render "reviews"%>
      </div>
    </section>

    <%= link_to '編輯餐廳資訊', edit_restaurant_path(@restaurant), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to '返回餐廳列表', restaurants_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
