<div data-controller="hotel">
  <!--小於768px會出現的按鈕區塊--->
  <div class="w-full flex justify-around lg:hidden">
    <div class="border flex-grow text-center py-2 font-medium text-sm cursor-pointer">排序</div>
    <div class="border flex-grow text-center py-2 font-medium text-sm cursor-pointer"
      data-action="click->hotel#toggleFilterMenu">篩選</div>
    <div class="border flex-grow text-center py-2 font-medium text-sm cursor-pointer">地圖</div>
  </div>
  <!--小於768px會出現的按鈕區塊--->
  
  <!--分類篩選清單區--->
  <div class="bg-gray-100 ">
    <section class="container m-auto flex py-5 min-h-[calc(100vh_-_145px)]">
      <section data-hotel-target="filterMenu"
        class="hidden lg:block absolute left-0 top-0 lg:static lg:w-72 w-full h-max bg-white px-6 mr-3 bd shadow-lg rounded-md">
        <div class="lg:hidden flex justify-end pt-6">
          <button data-action="click->hotel#toggleFilterMenu"><i class="text-lg fa-solid fa-xmark"></i></button>
        </div>
        <div class="border-b py-6">
          <div class="border-b py-6">
            <button class="py-2" data-action="click->hotel#toggleFilterCategory">
              熱門<i class="px-1 fa-solid fa-chevron-down"></i>
            </button>
            <ul class="flex flex-col overflow-hidden max-h-0 max-h-96">
              <li class="py-1"><input class="mr-2" type="checkbox">含早餐</li>
              <li class="py-1"><input class="mr-2" type="checkbox">4星級</li>
              <li class="py-1"><input class="mr-2" type="checkbox">經濟實惠</li>
            </ul>
          </div>
          <div class="border-b py-6">
            <button class="py-2" data-action="click->hotel#toggleFilterCategory">
              住宿類型<i class="px-1 fa-solid fa-chevron-down"></i>
            </button>
            <ul class="flex flex-col overflow-hidden max-h-0 max-h-96">
              <li class="py-1"><input class="mr-2" type="checkbox">飯店</li>
              <li class="py-1"><input class="mr-2" type="checkbox">民宿</li>
              <li class="py-1"><input class="mr-2" type="checkbox">青年旅館</li>
              <li class="py-1"><input class="mr-2" type="checkbox">度假村</li>
              <li class="py-1"><input class="mr-2" type="checkbox">日租套房</li>
            </ul>
          </div>
          <div class="py-6">
            <button class="py-2" data-action="click->hotel#toggleFilterCategory">
              設備<i class="px-1 fa-solid fa-chevron-down"></i>
            </button>
            <ul class="flex flex-col overflow-hidden max-h-0 max-h-96">
              <li class="py-1"><input class="mr-2" type="checkbox">免費無線網路</li>
              <li class="py-1"><input class="mr-2" type="checkbox">健身房</li>
              <li class="py-1"><input class="mr-2" type="checkbox">游泳池</li>
              <li class="py-1"><input class="mr-2" type="checkbox">免費停車</li>
              <li class="py-1"><input class="mr-2" type="checkbox">酒吧</li>
            </ul>
          </div>
        </section>
      <!--分類篩選清單區--->

      <!--飯店清單區-->
      <section class="flex-grow">
        <div class="flex justify-between items-center">
          <div class="py-2">
            <% if @hotels.present? %>
              <%= @hotels.count %> 家物業
                <% end %>
          </div>
          <form class="flex justify-center py-1">
            <div class="border-2 rounded-full flex items-center  border-gray-700 bg-gray-100">
              <input type="text" name="keyword" value="<%= params[:keyword]%>" placeholder="請輸入關鍵字...."
                class="mx-1 border-0 bg-transparent focus:ring-transparent h-1">
              <button type="submit" class="btn-add"><i class="fas fa-search w-3 mr-2"></i></button>
            </div>
          </form>
        </div>
        <h2>
          <%= flash[:notice]%>
        </h2>
        <% @hotels.each_with_index do |hotel, index| %>
          <div class="flex flex-col md:flex-row bg-white rounded-md overflow-hidden shadow-lg mb-3">
            <div class="md:w-72 md:min-h-64">
              <img class="object-cover w-full h-full" src="<%=hotel.image%>">
            </div>
            <div class="flex-grow">
              <h2 class="text-xl font-medium p-4">
                <%= link_to hotel.name , hotel_path(hotel.id) %>
              </h2>
              <div class="flex">
                <ul class="flex flex-col justify-evenly w-1/2 border-r px-4">
                  <li>飯店網站:<%= link_to hotel.name , hotel.website,target: "_blank" %>
                  <li>地址:<%= hotel.address %>
                  </li>
                  <li>電話:<%= hotel.tel %>
                  </li>
                  <li>簡介:<%= hotel.intro&.truncate(10)%>
                  </li>
                  <li>Google地圖<i class="fa-solid fa-globe"></i></li>
                </ul>
                <div class="w-1/2 px-4">
                  <h2 class="font-medium">飯店設備</h2>
                  <% if @hotel_equipment[index].present? %>
                    <ul>
                      <% @hotel_equipment[index].each do |equipment| %>
                        <li
                          class='inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full '>
                          <%= equipment %>
                        </li>
                        <% end %>
                    </ul>
                    <% else %>
                      <p>沒有設備資料</p>
                      <% end %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
      </section>
      <!--飯店清單區-->
    </section>
  </div>
</div>