<!-- component -->
<div class="flex items-center justify-center p-12 mx-auto">
  <div class="mx-auto w-full max-w-[550px]">
    <%= form_with model: @plan do |form| %>
      <div class="mb-5">
        <%= form.label :name, "行程名稱", class: "mb-3 block text-base font-medium text-blue-600" %>
        <%= form.text_field :name, class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %>
      </div>
      <div class="mb-5">
        <%= form.label :description, "行程簡介", class: "mb-3 block text-base font-medium text-blue-600" %>
        <%= form.text_area :description, class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md", rows: 5, cols: 50%>
      </div>
    <% end %>
  </div>
</div>
