<div class="w-full">
  <%= link_to "所有行程", plans_path, class: "text-blue-600"%>
  <!-- component -->
  <div class="flex items-center justify-center p-12 mx-auto">
    <div class="mx-auto w-full">
      <%= form_with model: @plan do |form| %>
        <div class="mb-5">
          <%= form.label :name, "行程名稱", class: "mb-3 block text-base font-medium text-blue-600" %>
          <%= form.text_field :name, class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %>
        </div>
        <div class="mb-5">
          <%= form.label :description, "行程簡介", class: "mb-3 block text-base font-medium text-blue-600" %>
          <%= form.text_area :description, class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md", rows: 5, cols: 50%>
        </div>
        <div class="mb-5">
          <%= form.label :days, "行程天數", class: "mb-3 block text-base font-medium text-blue-600" %>
          <%= form.number_field :days, class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md", rows: 5, cols: 50, min: 1, placeholder: 1%>
        </div>
        <div class="mb-5">
          <%= form.label :category, "分類選擇", class: "mb-3 block text-base font-medium text-blue-600" %>
          <%= form.select :category, options_for_select(["自然", "文化", "美食", "藝術","家庭"]), class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md", rows: 5, cols: 50, min: 1, placeholder: 1%>
        </div>
        <% if @plan.locations != nil %>
          <div class="flex bg-white rounded-lg shadow-xl mt-4 p-8 gap-5 flex-wrap">
            <% @plan.locations.each_key.with_index do |key, i| %>
              <div class="relative px-4">
                <h4 class="text-xl text-gray-900 font-bold">第<%= i + 1 %>天</h4>
                <div
          class="absolute h-full border border-dashed border-opacity-20 border-secondary"
        ></div>
                <% @plan.locations[key].each do |site| %>
                  <!-- start::Timeline item -->
                  <div class="flex items-center w-full my-6 -ml-1.5">
                    <div class="w-1/12 z-10">
                      <div class="w-3.5 h-3.5 bg-blue-600 rounded-full"></div>
                    </div>
                    <div class="w-11/12 ml-2">
                      <p class="text-sm">
                        <%= site["type"] %>
                        <a href="#" class="text-blue-600 font-bold"><%= site["name"] %></a>
                      </p>
                      <p class="text-xs text-gray-500">停留時間：<%= site["stay_time"] %> mins</p>
                    </div>
                  </div>
                  <!-- end::Timeline item -->
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
        <%= form.submit class: "my-10 block uppercase mx-auto shadow bg-indigo-600 hover:bg-indigo-700 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded" %>
      <% end %>
    </div>
  </div>
</div>
