<h1 class="heading-1">景點推薦</h1>

<div class="flash">
  <%= flash[:notice] %>
</div>

<button class="btn-add">
  <%= link_to '新增好地方' , new_site_path %>
</button>

<section class="container">
  <% @sites.each do |site| %>
    <section class="border-2 border-red-300 basis-3">
      <div>
        <img src="https://fakeimg.pl/350x200/?text=Hello" class="w-full">
      </div>
      <div>
        名稱:<%= link_to site.name , site_path(site.id) %>
      </div>

      <div>
        景點網站:<%= link_to site.name , site.website %>
      </div>

      <div>
        地址:<%= site.address %>
      </div>

      <div>
        緯度:<%= site.latitude %>
      </div>

      <div>
        經度:<%= site.longitude %>
      </div>

      <div>
        停留時間:<%= site.stay_duration %>
      </div>

      <div>
        簡介:<%= site.intro %>
      </div>

      <div>
        攜帶寵物:<%= site.pet_freindly %>
      </div>

      <button class="btn-form">
        <%= link_to '編輯' , edit_site_path(site.id) %>
      </button>
      <button class="btn-form">
        <%= link_to '刪除' , site_path(site.id),method:'delete',data:{confirm:'確定刪除嗎？'} %>
      </button>
      <% end %>
    </section>
</section>